<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Letters</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                <form role="form" id="add-letter">

                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" name="title" class="form-control" placeholder="Title of your letter" required minlength="2">
                    </div>

                    <div class="form-group">
                        <label>Send date</label>
                        <input type="datetime-local" name="send_at" class="form-control" required min="2021-05-11T00:00">
                    </div>

                    <div class="form-group">
                        <label>Letter Body</label>
                        <textarea name="body" class="form-control" rows="15" required minlength="3"></textarea>
                    </div>

                  
                  <div class="form-group">
                      <label>Receiver email</label>
                      <input type="email" name="receiver_email" class="form-control" required">
                  </div>

                    <button type="submit" class="btn btn-default">Submit Button</button>
                    <button type="reset" class="btn btn-default">Reset Button</button>
                </form>
            </div>
            <!-- /.col-lg-12 (nested) -->
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        DataTables Advanced Tables
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="letters-table" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Title</th>
                                        <th>Body</th>
                                        <th>Created At</th>
                                        <th>Send At</th>
                                        <th>Account ID</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->

<<script type="text/javascript">



  $("#add-letter").validate({
  submitHandler: function(form, event) {
    event.preventDefault();

    console.log(jsonize_form($(form)));
    addLetter(jsonize_form($(form)));
   }
  });

  getLetters();

  function addLetter(letter){
    $.ajax({
         url: "api/person/letter",
         type: "POST",
         data: letter,
         beforeSend: function(xhr){xhr.setRequestHeader('Authentication', localStorage.getItem("token"));},
         success: function(data) {
           console.log(data);
         },
         error: function(jqXHR, textStatus, errorThrown){
           console.log(jqXHR);
         }
      });
  }

  function getLetters(){

    $.ajax({
         url: "api/person/letter",
         type: "GET",
         beforeSend: function(xhr){xhr.setRequestHeader('Authentication', localStorage.getItem("token"));},
         success: function(data) {
           console.log(data);

          var html = "";
          for(var i = 0; i < data.length; i++){
            html += '<tr class="odd">'
                 + '<td>'+data[i].id+'</td>'
                 + '<td>'+data[i].title+'</td>'
                 + '<td>'+data[i].body+'</td>'
                 + '<td class="center">'+data[i].created_at+'</td>'
                 + '<td class="center">'+data[i].send_at+'</td>'
                 + '<td class="center">'+data[i].account_id+'</td></tr>'
          }

          $("#letters-table tbody").html(html);


         }
      });



  }


</script>
