<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Letters</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <button type="button" class="btn btn-success" onclick="openAddForm()" data-toggle="modal" data-target="#add-letter-modal">
            Add Letter
        </button>
        <br>
        <br>

        <div class="row">
          <div class="table-responsive"  style="padding-bottom: 30px">
              <table id="letters-table" class="table table-striped table-bordered table-hover" id="dataTables-example">
                  <thead>
                      <tr>
                          <th>ID</th>
                          <th>Title</th>
                          <th>Body</th>
                          <th>Send At</th>
                      </tr>
                  </thead>
              </table>
          </div>
          <!-- /.table-responsive -->
        </div>



        <div class="row">
          <div class="table-responsive">
              <table id="communication-table" class="table table-striped table-bordered table-hover" id="dataTables-example">
                  <thead>
                      <tr>
                          <th>Letter ID</th>
                          <th>Receiver Email</th>
                      </tr>
                  </thead>
              </table>
          </div>
          <!-- /.table-responsive -->
        </div>


        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->

<div class="modal fade" id="add-letter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form role="form" id="add-letter">
            <input type="hidden" name="id" />
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Add Letter</h4>
            </div>
            <div class="modal-body">

                  <div class="form-group">
                      <label>Title</label>
                      <input type="text" name="title" class="form-control" placeholder="Title of your letter" required minlength="2">
                  </div>

                  <div class="form-group">
                      <label>Send date</label>
                      <input type="datetime-local" name="send_at" class="form-control" required min="2021-05-11T00:00">
                  </div>

                  <div class="form-group">
                      <label>Letter Body</label>
                      <textarea name="body" class="form-control" rows="15" required minlength="3"></textarea>
                  </div>

                  <div class="form-group">
                    <label>Receiver email</label>
                    <input type="email" name="receiver_email" class="form-control" required">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
          </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script type="text/javascript">


  $("#add-letter").validate({
  submitHandler: function(form, event) {
    event.preventDefault();
    var data = jsonize_form($(form));
    console.log(data);
    if (data.id){
      updateLetter(data);
    } else {
      addLetter(data);
    }
   }
  });

  getLetters();
  getDetails();


  function updateLetter(letter) {

    $.ajax({
         url: "api/person/letter/"+letter.id,
         type: "PUT",
         data: JSON.stringify(letter),
         contentType: "application/json",
         beforeSend: function(xhr){xhr.setRequestHeader('Authentication', localStorage.getItem("token"));},
         success: function(data) {
           toastr.success("Letter has been updated.");
           getLetters();
           getDetails();
           $("#add-letter").trigger("reset");
           $("#add-letter *[name='id']").val("");
           $("#add-letter-modal").modal("hide");
           console.log(data);
         },
         error: function(jqXHR, textStatus, errorThrown){
           toastr.error(jqXHR.responseJSON.message);
           console.log(jqXHR);
         }
      });

      /*
      $.ajax({
           url: "api/person/letter/"+letter.id,
           type: "PUT",
           data: letter,
           contentType: "application/json",
           beforeSend: function(xhr){xhr.setRequestHeader('Authentication', localStorage.getItem("token"));},
           success: function(data) {
             toastr.success("Letter has been updated.");
             getLetters();
             $("#add-letter").trigger("reset");
             $("#add-letter *[name='id']").val("");
             $("#add-letter-modal").modal("hide");
             console.log(data);
           },
           error: function(jqXHR, textStatus, errorThrown){
             toastr.error(jqXHR.responseJSON.message);
             console.log(jqXHR);
           }
        });*/

  }

  function addLetter(letter){
    $.ajax({
         url: "api/person/letter",
         type: "POST",
         data: letter,
         beforeSend: function(xhr){xhr.setRequestHeader('Authentication', localStorage.getItem("token"));},
         success: function(data) {
           toastr.success("Letter has been created.");
           getLetters();
           getDetails();
           $("#add-letter").trigger("reset");
           $("#add-letter-modal").modal("hide");
           console.log(data);
         },
         error: function(jqXHR, textStatus, errorThrown){
           console.log(jqXHR);
         }
      });
  }


  function getLetters(){

    $("#letters-table").DataTable({
      processing : true,
      serverSide : true,
      bDestroy: true,
      pagingType : "simple",
      preDrawCallback : function( settings ) {
        if (settings.aoData.length < settings._iDisplayLength){
          settings._iRecordsTotal=0;
          settings._iRecordsDisplay=0;
        }else{
          settings._iRecordsTotal=100000;
          settings._iRecordsDisplay=100000;
        }
        console.log(settings);
      },
      responsive: true,
      language: {
            "zeroRecords": "Nothing found",
            "info": "Showing page _PAGE_",
            "infoEmpty": "",
            "infoFiltered": ""
      },
      ajax : {
        url: "api/person/letter",
        type: "GET",
        beforeSend: function(xhr){xhr.setRequestHeader('Authentication', localStorage.getItem("token"))},
        dataSrc : function(resp){
          return resp;
        },
        data : function ( d ) {
          d.offset = d.start;
          d.limit = d.length;
          d.search = d.search.value;
          d.order = encodeURIComponent((d.order[0].dir == 'asc' ? "-" : "+")+ d.columns[d.order[0].column].data);

          delete d.start;
          delete d.columns;
          delete d.length;
          delete d.draw;
          console.log(d);
        }
      },
      columns : [
          { "data": "id",
              "render": function ( data, type, row, meta ) {
              return '<div style="min-width: 60px;"> <span class="badge">'+data+'</span><a class="pull-right" style="font-size: 15px; cursor: pointer;" onclick="openEditLetter('+data+')"><i class="fa fa-edit"></i></a> </div>';
              }
          },
          { "data": "title" },
          { "data": "body" },
          { "data": "send_at" }
      ]
    });

  }


  function openEditLetter(id){

    $.ajax({
         url: "api/person/letter/receiver/"+id,
         type: "GET",
         beforeSend: function(xhr){xhr.setRequestHeader('Authentication', localStorage.getItem("token"));},
         success: function(data) {
           $("#add-letter *[name='receiver_email']").val(data.receiver_email);
           console.log(data);
         },
         error: function(jqXHR, textStatus, errorThrown ){
           console.log(jqXHR);
         }
      });

    $.ajax({
         url: "api/person/letter/"+id,
         type: "GET",
         beforeSend: function(xhr){xhr.setRequestHeader('Authentication', localStorage.getItem("token"));},
         success: function(data) {
           $("#add-letter *[name='id']").val(data.id);
           $("#add-letter *[name='title']").val(data.title);
           $("#add-letter *[name='body']").val(data.body);
           $("#add-letter *[name='send_at']").val(data.send_at);
           $("#add-letter-modal").modal("show");
           console.log(data);
         },
         error: function(jqXHR, textStatus, errorThrown ){
           console.log(jqXHR);
         }
      });
    }

    function getDetails(){

        $("#communication-table").DataTable({
        processing : true,
        serverSide : true,
        bDestroy: true,
        searching: false,
        ordering: false,
        pagingType : "simple",
        preDrawCallback : function( settings ) {
          if (settings.aoData.length < settings._iDisplayLength){
            settings._iRecordsTotal=0;
            settings._iRecordsDisplay=0;
          }else{
            settings._iRecordsTotal=100000;
            settings._iRecordsDisplay=100000;
          }
          console.log(settings);
        },
        responsive: true,
        language: {
              "zeroRecords": "Nothing found",
              "info": "Showing page _PAGE_",
              "infoEmpty": "",
              "infoFiltered": ""
        },
        ajax : {
          url: "api/person/communication",
          type: "GET",
          beforeSend: function(xhr){xhr.setRequestHeader('Authentication', localStorage.getItem("token"))},
          dataSrc : function(resp){
            return resp;
          },
          data : function ( d ) {
            d.offset = d.start;
            d.limit = d.length;

            delete d.start;
            delete d.columns;
            delete d.length;
            delete d.draw;
            console.log(d);
          }
        },
        columns : [
            { "data": "letter_id",
              "render": function ( data ) {
                return '<div><span class="badge">'+data+'</div>';
              }
            },
            { "data": "email" }
        ]
      });
    }


</script>
